NEXT_PUBLIC_APP_URL=http://localhost:3333
PORT=3333
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
IRON_SESSION_PASSWORD=
GROQ_API_KEY=
OPENAI_API_KEY=
HOTMART_HOTTOK=
RESEND_API_KEY=